@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.community-content {
  margin: 50px auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 200px;
}

.grid-layout {

  .grid-item {
    align-items: center;
  }
}

@media screen and (max-width: $screen-lg-min) {

  .community-content {
    padding: 0 80px;
  }

  .community-item {
    margin-bottom: 20px;
  }

  .community-item:not(:first-child) {
    margin-left: 20px;
  }

}

@media screen and (max-width: $screen-md-min) {

  .community-content {
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .community-content-row {
    flex-wrap: wrap;
  }

  .community-item:not(:first-child) {
    margin-left: 0;
  }

}
