---
layout: markdown_page
title: "Product Kickoff Review"
---
<% keyValue = 2 # by default show the upcoming release (index 0 is all releases, 1 is next, and 2 is release after next) %> 
<% keyValue = 1 if Date.today.day.between?(18, 22) # between the 18th and 22nd the release ticks over, but we still want to show the same release %>
- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is 
<%= direction.keys[keyValue] %> 
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the [GitLab YouTube channel](https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg). 

In terms of meeting logistics, only presenters will be promoted to panelists so please use the “Raise my hand” feature if you are a presenter.
Please also use YouTube comments instead of Google Hangout or Zoom comments. During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/playlist?list=PL05JrBw4t0Kr4XRYBsCFiItndf76Y4izT).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**: 
* [Manage: Analytics Kickoff Video](https://www.youtube.com/watch?v=cZRpv74lNfg)
* [Manage: Compliance Kickoff Video](https://www.youtube.com/watch?v=qAE6ktp0YkE)

**Issues**:
<%= direction[direction.keys[keyValue]]["manage"] %>

### Plan

**Video**: 
* [Plan: Project Management Kickoff Video](https://www.youtube.com/watch?v=I6Ycpt7P1MA) 
* [Plan: Portfolio Management Kickoff Video](https://youtu.be/Z-32Sp5d8zM)
* [Plan: Certify Kickoff Video](https://www.youtube.com/watch?v=BEAJimYS-B0)

**Issues**:
<%= direction[direction.keys[keyValue]]["plan"] %>

### Create

**Videos**:
* [Create:Source Code and Gitaly Kickoff Video](https://www.youtube.com/watch?v=d1lyfsCzizg)
* [Create:Knowledge Kickoff Video](https://www.youtube.com/watch?v=FbgkVWlWycc&feature=youtu.be)
* [Create:Editor Kickoff Video](https://www.youtube.com/watch?v=CIvw1dKP9PM)
* [Create: Static Site Editor Kickoff Video](https://www.youtube.com/watch?v=p3FL0XkA2dg)

**Issues**:
<%= direction[direction.keys[keyValue]]["create"] %>

## CI/CD Section

### Verify

**Videos**: 

* [Continuous Integration (12.8)](https://www.youtube.com/watch?v=swGQZz5b1q0)
* [Runner (12.8)](https://www.youtube.com/watch?v=_MtAQzSw0Wo)
* [Testing (12.8)](https://www.youtube.com/watch?v=VmAXTRd4QaI)

**Issues**:
<%= direction[direction.keys[keyValue]]["verify"] %>

### Package

**Videos**: 

* [Package (12.8)](https://www.youtube.com/watch?v=Sd8vVmDS85U)

**Issues**:
<%= direction[direction.keys[keyValue]]["package"] %>

### Release

**Videos**: 

* [Release Management (12.8)](https://www.youtube.com/watch?v=Ssh6_7Hkmds)
* [Progressive Delivery (12.8)](https://www.youtube.com/watch?v=4SFIwiqcyX4)

**Issues**:
<%= direction[direction.keys[keyValue]]["release"] %>

## Ops Section

### Configure

**Videos**: 
* [Configure:Orchestration Kickoff Video](https://www.youtube.com/watch?v=9NuSZJvpS50&list=PL05JrBw4t0Kr4XRYBsCFiItndf76Y4izT&index=25)
* [Configure:System Kickoff Video](https://www.youtube.com/watch?v=-mznhVrhg4E&list=PL05JrBw4t0Kr4XRYBsCFiItndf76Y4izT&index=24)

**Issues**:
<%= direction[direction.keys[keyValue]]["configure"] %>

### Monitor

**Videos**: 
* [Monitor:APM Kickoff Video](https://www.youtube.com/watch?v=x22eGLV5PgM&list=PL05JrBw4t0Kr4XRYBsCFiItndf76Y4izT&index=27&t=0s)
* [Monitor:Health Kickoff Video](https://www.youtube.com/watch?v=pB1Rt5eEw7E&list=PL05JrBw4t0Kr4XRYBsCFiItndf76Y4izT&index=11)

**Issues**:
<%= direction[direction.keys[keyValue]]["monitor"] %>

## Secure Section

### Secure

**Videos**: 
* [Static Analysis Kickoff Video](https://youtu.be/QBm2TGE2RQk)
* [Dynamic Analysis Kickoff Video](https://youtu.be/Cql3OWagOSc)
* [Composition Analysis Kickoff Video](https://youtu.be/rQUuhRFR3kM)

**Issues**:
<%= direction[direction.keys[keyValue]]["secure"] %>

## Defend Section

### Defend

**Videos**: 
* [Threat Management Kickoff Video](https://youtu.be/vKaKITUxBAc)
* [Runtime Application Security Kickoff Video](https://youtu.be/p52XBlheiE0)
* [Application Infrastructure Security Kickoff Video](https://youtu.be/DblO7MHJyH8)

**Issues**:
<%= direction[direction.keys[keyValue]]["defend"] %>

## Enablement Section

**Videos**: 
* [Distribution Kickoff Video](https://youtu.be/-DSgJ5Ac-4U)
* [Geo Kickoff Video](https://youtu.be/DfrbFmHkc4I)
* [Ecosystem Kickoff Video](https://youtu.be/zUOQw9vkYjQ)
* [Memory Kickoff Video](https://youtu.be/OcIQMQTjgIA)
* [Database Kickoff Video](https://youtu.be/CkPV9-pmfKc)

**Epics**:
- [Geo: Build a scalable, self-service geo replication and verification framework](https://gitlab.com/groups/gitlab-org/-/epics/2161)
- [Geo: Improved support for a planned failover](https://gitlab.com/groups/gitlab-org/-/epics/2148)
- [Geo: Geo: Enable Geo for Disaster Recovery on GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/575)
- [Memory: Enable Puma on GitLab.com](https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/78)
- [Memory: Enable Puma WebServer for GitLab](https://gitlab.com/groups/gitlab-org/-/epics/954)
- [Memory: Improve project import/export](https://gitlab.com/groups/gitlab-org/-/epics/1810)
- [Distribution & Database: Move to Postgres 11](https://gitlab.com/groups/gitlab-org/-/epics/2184)
- [Distribution: Automate HA and Geo setup](https://gitlab.com/groups/gitlab-org/-/epics/1949)
- [Distribution: Increasing the maturity of the cloud native install](https://gitlab.com/groups/gitlab-org/-/epics/2260)
- [Search: Enable Elasticsearch for Paid groups on GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/1736#note_273251027)

**Issues**:
<%= direction[direction.keys[keyValue]]["enablement"] %>

---
Debug: <%= Date.today.day %> : <%= Date.today.day.between?(18, 22) %> : <%= keyValue %> : <%= direction.keys[0] %> : <%= direction.keys[1] %> : <%= direction.keys[2] %>
