### Plan

- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Aplan)
- Stage usage metrics can be found on the [Plan Dashboard](https://app.periscopedata.com/app/gitlab/493126/Plan-Stage).
Corresponding definitions for what we are tracking can be found on the Plan team [handbook page](/handbook/product/categories/plan).

The Plan stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "plan" }) %>
